/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	color: #000;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
	color: white;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
  max-width: 90%;
  margin: 0 auto;
  width: 1024px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.intro {
	background: url("../images/header_bg.jpg") no-repeat center top rgb(134,141,157);
	background-size: cover;
	text-align: center;
	color: white;
	position: relative;
	top: 40%;
}

.benefits {
	text-align: 0 auto;
	background-color: #f0efef;
	font-weight: semibold;
	color: #121212;
}

.testimonial {
	background: url("../images/testimonial_bg.jpg");
	font-weight: light italic;
	color: white;
	text-align: center;
	
}

.social_media {
	letter-spacing: 15px;	
	margin-top: 30px;
}

.sign-up {
	background-color: #f9e42e;
}

footer {
	text-align: center;
	text-decoration-color: #f9e42e;
	background-color: #121212;
}

h1 {
	position: absolute;
	color: black;
}

h2 {
	color: #f9e42e;

}

h3 {
	font-weight: semi bold;
	position: relative;
}












